<div id="god">
  <img src="/images/bourke.png" alt="Photo by Michael Koukoullis" />
</div>
<nav>
  <ul class="{{ page.section }}">
    <li class="home"><a href="/">Home</a></li>
    <li class="about"><a href="/about.html">About</a></li>
    <li class="posts"><a href="/posts/index.html">Posts</a></li>
    <li class="events"><a href="/events.html">Events</a></li>
    <li class="projects"><a href="/projects.html">Projects</a></li>
    <li class="talks"><a href="/talks.html">Talks</a></li>
    <li class="search"><a href="/search.html">Search</a></li>
  </ul>
</nav>
