<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}{% if page.title %} &ndash; {% endif %}Pat Allan</title>
    <link rel="stylesheet" type="text/css" href="/styles/default.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/styles/plyr.css" media="all" />
    <link rel="alternate" type="application/atom+xml" title="Freelancing Gods"  href="https://feeds.feedburner.com/freelancing_gods" />
    <script async src="https://stats.freelancing-gods.com/script.js" data-website-id="c95b8990-504b-4c5c-9842-e8f7c3355f11"></script>
  </head>
  <body>
    {% include navigation.html %}
    <section>
      <h2>{{ page.title }}</h2>
      {{ content }}
    </section>
    {% include footer.html %}
    <script src="/javascripts/prism.js"></script>
  </body>
</html>
