<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }}{% if page.title %} &ndash; {% endif %}Pat Allan</title>
    <link rel="stylesheet" type="text/css" href="/styles/default.css" media="all" />
    <link rel="alternate" type="application/atom+xml" title="Freelancing Gods"  href="http://feeds.feedburner.com/freelancing_gods" />
  </head>
  <body>
    {% include navigation.html %}
    <section>
      <h2>{{ page.title }}</h2>
      {{ content }}
    </section>
    {% include footer.html %}
    <script src="/javascripts/prism.js"></script>
  </body>
</html>
