<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }} &ndash; Pat Allan</title>
    <link rel="stylesheet" type="text/css" href="/styles/default.css" media="all" />
  </head>
  <body>
    {% include navigation.html %}
    <section>
      <h2>{{ page.title }}</h2>
      {{ content }}
    </section>
    <footer>
      <p>
        <a class="license" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
        All original content on this site is copyright Pat Allan, and available to use through a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons by-nc-sa</a> licence.
      </p>
    </footer>
    <script src="/javascripts/prism.js"></script>
  </body>
</html>
